In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# The path to our CSV files. These files contain the data that we exported.
file1 = "Resources/General_EV_data.csv"
file2 = "Resources/EV_Performance_data.csv"

# Read our data into pandas
general_df = pd.read_csv(file1)
performance_df = pd.read_csv(file2)

In [3]:
# Display and explore data for general_df
general_df

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [4]:
# Display and explore data for performance_df
performance_df

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla Roadster,Battery Electric Vehicle | 200 kWh,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,All Wheel Drive,4,"â‚¬215,000","Â£189,000"
1,Tesla Model X Plaid,Battery Electric Vehicle | 90 kWh,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,All Wheel Drive,7,"â‚¬116,990","Â£110,980"
2,Porsche Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"â‚¬186,336","Â£138,830"
3,Porsche Taycan Turbo S Cross Turismo,Battery Electric Vehicle | 83.7 kWh,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h,All Wheel Drive,4,"â‚¬187,746","Â£139,910"
4,Tesla Cybertruck Tri Motor,Battery Electric Vehicle | 200 kWh,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h,All Wheel Drive,7,"â‚¬75,000","Â£68,000"
...,...,...,...,...,...,...,...,...,...,...,...
174,Peugeot e-Traveller Standard 75 kWh,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7,"â‚¬57,440",NaN
175,Peugeot e-Traveller Long 75 kWh,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7,"â‚¬58,230",NaN
176,Nissan e-NV200 Evalia,Battery Electric Vehicle | 36 kWh,14.0 sec,123 km/h,165 km,218 Wh/km,170 km/h,Front Wheel Drive,7,"â‚¬43,433","Â£30,255"
177,Dacia Spring Electric,Battery Electric Vehicle | 26.8 kWh,15.0 sec,125 km/h,170 km,158 Wh/km,120 km/h,Front Wheel Drive,4,"â‚¬20,490",NaN
178,Renault Kangoo Maxi ZE 33,Battery Electric Vehicle | 31 kWh,22.4 sec,130 km/h,160 km,194 Wh/km,-,Front Wheel Drive,5,NaN,"Â£31,680"

## Data Cleaning

In [5]:
# split the 'Name' Column in the performance_df so we can have a 'Make' and 'Model' column as we do in the general_df.
# this will allow us to merge the databases based on the model
make_model = performance_df['Name'].str.split(' ', n=1, expand=True)

In [6]:
make_model

           0                             1
0      Tesla                     Roadster
1      Tesla                 Model X Plaid
2    Porsche                Taycan Turbo S
3    Porsche  Taycan Turbo S Cross Turismo
4      Tesla          Cybertruck Tri Motor
..       ...                           ...
174  Peugeot   e-Traveller Standard 75 kWh
175  Peugeot       e-Traveller Long 75 kWh
176   Nissan               e-NV200 Evalia
177    Dacia               Spring Electric
178  Renault             Kangoo Maxi ZE 33

[179 rows x 2 columns]

In [7]:
# merge the two new columns with the performance_df. This will enable us to later merge the performance and general dataframes
# perf_df = pd.concat([make_model, performance_df], axis=1)
perf_df = pd.merge(make_model, performance_df, left_index=True, right_index=True)

In [8]:
perf_df

,0,1,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla,Roadster,Tesla Roadster,Battery Electric Vehicle | 200 kWh,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,All Wheel Drive,4,"â‚¬215,000","Â£189,000"
1,Tesla,Model X Plaid,Tesla Model X Plaid,Battery Electric Vehicle | 90 kWh,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,All Wheel Drive,7,"â‚¬116,990","Â£110,980"
2,Porsche,Taycan Turbo S,Porsche Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"â‚¬186,336","Â£138,830"
3,Porsche,Taycan Turbo S Cross Turismo,Porsche Taycan Turbo S Cross Turismo,Battery Electric Vehicle | 83.7 kWh,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h,All Wheel Drive,4,"â‚¬187,746","Â£139,910"
4,Tesla,Cybertruck Tri Motor,Tesla Cybertruck Tri Motor,Battery Electric Vehicle | 200 kWh,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h,All Wheel Drive,7,"â‚¬75,000","Â£68,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Peugeot,e-Traveller Standard 75 kWh,Peugeot e-Traveller Standard 75 kWh,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7,"â‚¬57,440",NaN
175,Peugeot,e-Traveller Long 75 kWh,Peugeot e-Traveller Long 75 kWh,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7,"â‚¬58,230",NaN
176,Nissan,e-NV200 Evalia,Nissan e-NV200 Evalia,Battery Electric Vehicle | 36 kWh,14.0 sec,123 km/h,165 km,218 Wh/km,170 km/h,Front Wheel Drive,7,"â‚¬43,433","Â£30,255"
177,Dacia,Spring Electric,Dacia Spring Electric,Battery Electric Vehicle | 26.8 kWh,15.0 sec,125 km/h,170 km,158 Wh/km,120 km/h,Front Wheel Drive,4,"â‚¬20,490",NaN
178,Renault,Kangoo Maxi ZE 33,Renault Kangoo Maxi ZE 33,Battery Electric Vehicle | 31 kWh,22.4 sec,130 km/h,160 km,194 Wh/km,-,Front Wheel Drive,5,NaN,"Â£31,680"

In [9]:
# Remove the 'Name' column as that is no longer needed 
perf_df.drop('Name', axis=1, inplace=True)

In [10]:
# Rename the 0 and 1 column to Make and Model. This will put the dataframe more in line with the general_df
perf_df = perf_df.rename(columns = {0: 'Make', 1: 'Model'})

In [11]:
perf_df

,Make,Model,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla,Roadster,Battery Electric Vehicle | 200 kWh,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,All Wheel Drive,4,"â‚¬215,000","Â£189,000"
1,Tesla,Model X Plaid,Battery Electric Vehicle | 90 kWh,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,All Wheel Drive,7,"â‚¬116,990","Â£110,980"
2,Porsche,Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"â‚¬186,336","Â£138,830"
3,Porsche,Taycan Turbo S Cross Turismo,Battery Electric Vehicle | 83.7 kWh,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h,All Wheel Drive,4,"â‚¬187,746","Â£139,910"
4,Tesla,Cybertruck Tri Motor,Battery Electric Vehicle | 200 kWh,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h,All Wheel Drive,7,"â‚¬75,000","Â£68,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
174,Peugeot,e-Traveller Standard 75 kWh,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7,"â‚¬57,440",NaN
175,Peugeot,e-Traveller Long 75 kWh,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7,"â‚¬58,230",NaN
176,Nissan,e-NV200 Evalia,Battery Electric Vehicle | 36 kWh,14.0 sec,123 km/h,165 km,218 Wh/km,170 km/h,Front Wheel Drive,7,"â‚¬43,433","Â£30,255"
177,Dacia,Spring Electric,Battery Electric Vehicle | 26.8 kWh,15.0 sec,125 km/h,170 km,158 Wh/km,120 km/h,Front Wheel Drive,4,"â‚¬20,490",NaN
178,Renault,Kangoo Maxi ZE 33,Battery Electric Vehicle | 31 kWh,22.4 sec,130 km/h,160 km,194 Wh/km,-,Front Wheel Drive,5,NaN,"Â£31,680"

In [12]:
# Merge the perf_df and general_df
merge_df = pd.merge(general_df, perf_df, on='Model', how='outer')
merge_df

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,...,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla,Model 3 Long Range Dual Motor,4.6,233.0,450.0,161.0,940,Yes,AWD,Type 2 CCS,...,Battery Electric Vehicle | 70 kWh,4.4 sec,233 km/h,455 km,154 Wh/km,570 km/h,All Wheel Drive,5.0,NaN,"Â£48,490"
1,Tesla,Model 3 Long Range Dual Motor,4.6,233.0,450.0,161.0,940,Yes,AWD,Type 2 CCS,...,Battery Electric Vehicle | 76 kWh,4.4 sec,233 km/h,490 km,155 Wh/km,820 km/h,All Wheel Drive,5.0,"â‚¬53,560",NaN
2,Volkswagen,ID.3 Pure,10.0,160.0,270.0,167.0,250,Yes,RWD,Type 2 CCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Polestar,2,4.7,210.0,400.0,181.0,620,Yes,AWD,Type 2 CCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BMW,iX3,6.8,180.0,360.0,206.0,560,Yes,RWD,Type 2 CCS,...,Battery Electric Vehicle | 74 kWh,6.8 sec,180 km/h,385 km,192 Wh/km,520 km/h,Rear Wheel Drive,5.0,"â‚¬66,300","Â£58,850"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,Zafira-e Life M 75 kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7.0,"â‚¬59,800",NaN
201,NaN,Zafira-e Life L 75 kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7.0,"â‚¬60,625",NaN
202,NaN,e-Traveller Standard 75 kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7.0,"â‚¬57,440",NaN
203,NaN,e-Traveller Long 75 kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Battery Electric Vehicle | 68 kWh,13.3 sec,130 km/h,270 km,252 Wh/km,290 km/h,Front Wheel Drive,7.0,"â‚¬58,230",NaN
204,NaN,Spring Electric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Battery Electric Vehicle | 26.8 kWh,15.0 sec,125 km/h,170 km,158 Wh/km,120 km/h,Front Wheel Drive,4.0,"â‚¬20,490",NaN

In [13]:
# Display a list of the columns in the new database. This way we can identify the columns that we can remove to cleanp
# the dataframe and remove data the does not bring value to the end user
list(merge_df)

['Brand',
 'Model',
 'AccelSec',
 'TopSpeed_KmH',
 'Range_Km',
 'Efficiency_WhKm',
 'FastCharge_KmH',
 'RapidCharge',
 'PowerTrain',
 'PlugType',
 'BodyStyle',
 'Segment',
 'Seats',
 'PriceEuro',
 'Make',
 'Subtitle',
 'Acceleration',
 'TopSpeed',
 'Range',
 'Efficiency',
 'FastChargeSpeed',
 'Drive',
 'NumberofSeats',
 'PriceinGermany',
 'PriceinUK']

In [14]:
# Remove the NA values
merge_df = merge_df.dropna()

In [15]:
# Remove the columns that contain duplicate data and the columns that do not add value to the end user.
merge_df.drop(['Drive','AccelSec','TopSpeed_KmH','Range_Km','PriceEuro','Efficiency_WhKm','FastCharge_KmH','PlugType','Seats','Make','Efficiency','FastChargeSpeed'], axis=1, inplace=True)

C:\Users\kpear\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
# Reset the index
merge_df.reset_index(drop=True)

,Brand,Model,RapidCharge,PowerTrain,BodyStyle,Segment,Subtitle,Acceleration,TopSpeed,Range,NumberofSeats,PriceinGermany,PriceinUK
0,BMW,iX3,Yes,RWD,SUV,D,Battery Electric Vehicle | 74 kWh,6.8 sec,180 km/h,385 km,5.0,"â‚¬66,300","Â£58,850"
1,Honda,e,Yes,RWD,Hatchback,B,Battery Electric Vehicle | 28.5 kWh,9.0 sec,145 km/h,170 km,4.0,"â‚¬33,850","Â£27,660"
2,Peugeot,e-208,Yes,FWD,Hatchback,B,Battery Electric Vehicle | 45 kWh,8.1 sec,150 km/h,275 km,5.0,"â‚¬30,450","Â£27,225"
3,Tesla,Model 3 Standard Range Plus,Yes,RWD,Sedan,D,Battery Electric Vehicle | 50 kWh,5.6 sec,225 km/h,340 km,5.0,"â‚¬43,560","Â£40,990"
4,Mercedes,EQC 400 4MATIC,Yes,AWD,SUV,D,Battery Electric Vehicle | 80 kWh,5.1 sec,180 km/h,370 km,5.0,"â‚¬66,069","Â£65,720"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Nissan,Ariya 63kWh,Yes,FWD,Hatchback,C,Battery Electric Vehicle | 63 kWh,7.5 sec,160 km/h,335 km,5.0,"â‚¬45,000","Â£40,000"
60,Audi,e-tron S Sportback 55 quattro,Yes,AWD,SUV,E,Battery Electric Vehicle | 86.5 kWh,4.5 sec,210 km/h,335 km,5.0,"â‚¬96,050","Â£88,700"
61,Nissan,Ariya e-4ORCE 63kWh,Yes,AWD,Hatchback,C,Battery Electric Vehicle | 63 kWh,5.9 sec,200 km/h,325 km,5.0,"â‚¬50,000","Â£45,000"
62,Nissan,Ariya e-4ORCE 87kWh Performance,Yes,AWD,Hatchback,C,Battery Electric Vehicle | 87 kWh,5.1 sec,200 km/h,385 km,5.0,"â‚¬65,000","Â£57,500"
63,Byton,M-Byte 95 kWh 2WD,Yes,AWD,SUV,E,Battery Electric Vehicle | 95 kWh,7.5 sec,190 km/h,400 km,5.0,"â‚¬62,000","Â£57,500"

In [17]:
# List the columns to confirm we have the necessary data remains
list(merge_df)

['Brand',
 'Model',
 'RapidCharge',
 'PowerTrain',
 'BodyStyle',
 'Segment',
 'Subtitle',
 'Acceleration',
 'TopSpeed',
 'Range',
 'NumberofSeats',
 'PriceinGermany',
 'PriceinUK']

In [18]:
# Create a connection to postgresql database

protocol = 'postgresql'
username = 'postgres'
password = 'admin'
host = 'localhost'
port = 5432
database_name = 'EV_DB'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [19]:
# Import dataframe to SQL database

merge_df.to_sql(name='etl_db', con=engine.connect(), if_exists='replace', index=False)

In [20]:
# Confirm that table was created 
engine.table_names

In [21]:
# Print the table where the connection was established

pd.read_sql('select * from etl_db', con=engine.connect())

,Brand,Model,RapidCharge,PowerTrain,BodyStyle,Segment,Subtitle,Acceleration,TopSpeed,Range,NumberofSeats,PriceinGermany,PriceinUK
0,BMW,iX3,Yes,RWD,SUV,D,Battery Electric Vehicle | 74 kWh,6.8 sec,180 km/h,385 km,5.0,"â‚¬66,300","Â£58,850"
1,Honda,e,Yes,RWD,Hatchback,B,Battery Electric Vehicle | 28.5 kWh,9.0 sec,145 km/h,170 km,4.0,"â‚¬33,850","Â£27,660"
2,Peugeot,e-208,Yes,FWD,Hatchback,B,Battery Electric Vehicle | 45 kWh,8.1 sec,150 km/h,275 km,5.0,"â‚¬30,450","Â£27,225"
3,Tesla,Model 3 Standard Range Plus,Yes,RWD,Sedan,D,Battery Electric Vehicle | 50 kWh,5.6 sec,225 km/h,340 km,5.0,"â‚¬43,560","Â£40,990"
4,Mercedes,EQC 400 4MATIC,Yes,AWD,SUV,D,Battery Electric Vehicle | 80 kWh,5.1 sec,180 km/h,370 km,5.0,"â‚¬66,069","Â£65,720"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Nissan,Ariya 63kWh,Yes,FWD,Hatchback,C,Battery Electric Vehicle | 63 kWh,7.5 sec,160 km/h,335 km,5.0,"â‚¬45,000","Â£40,000"
60,Audi,e-tron S Sportback 55 quattro,Yes,AWD,SUV,E,Battery Electric Vehicle | 86.5 kWh,4.5 sec,210 km/h,335 km,5.0,"â‚¬96,050","Â£88,700"
61,Nissan,Ariya e-4ORCE 63kWh,Yes,AWD,Hatchback,C,Battery Electric Vehicle | 63 kWh,5.9 sec,200 km/h,325 km,5.0,"â‚¬50,000","Â£45,000"
62,Nissan,Ariya e-4ORCE 87kWh Performance,Yes,AWD,Hatchback,C,Battery Electric Vehicle | 87 kWh,5.1 sec,200 km/h,385 km,5.0,"â‚¬65,000","Â£57,500"
63,Byton,M-Byte 95 kWh 2WD,Yes,AWD,SUV,E,Battery Electric Vehicle | 95 kWh,7.5 sec,190 km/h,400 km,5.0,"â‚¬62,000","Â£57,500"

# TO DO for Saturday
Drop AccelSec column and recreate SQL database with one less column.
Clean up and pseudocode
Download as .py file: File>Download as>Python (.py)
Remove notebook file and replace with .py file
Submit Project
Finish Web Scraping HW